
/* comments on user's profile page  */


.comment-user-container{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 55vw;
  margin: 20px;
 
}

.comment-detail-user-right{
  width: 100%;
}

/* .comment-detail-user-subtitle{
  display: flex;
  justify-content: space-between;
} */

.comment-user-container img{
  /* max-height: 100%; */
  /* height: 100px; */
  width: 90px;
}




/* comments on media page  */

.media-comments li{
  list-style-type: none;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between; */
}

.media-comment-subtitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}