.text-center {
  color: black;
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 40px;
  display: block;
  text-align: center;
}

.form__label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  color: #007a5a;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border: 1px solid rgb(122, 119, 119);
  border-radius: 0.2rem;
  background-color: white;
  width: 90%;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
