.main-container {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	margin-top: 30px;
}
.medias-container {
	box-shadow: 3px 3px 10px grey;
	border-radius: 30px;
	padding-top: 1px;
	overflow: hidden;
	max-width: 1300px;
	min-width: 1000px;
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
}

.main-container .medias-container {
	height: 500px;
	width: 1000px;
}

.media-index {
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	position: relative;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	top: 375px;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: inset 1px 1px 5px grey;
}
.new-user-index {
	width: 350px;
	/* border: pink solid 1px; */
	height: 350px;
	overflow: auto;
	padding: 0 10px;
	padding-top: 15px;

	box-shadow: inset 0px 0px 4px grey;
}
#new-user-title {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	text-shadow: 2px 2px darkgrey;
}
.new-user-item {
	display: block;
	height: 50px;
	line-height: 1.5em;
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 3px;
	transition: box-shadow 0.3s ease-out;
}
.new-user-item:hover {
	/* background: #04bd8c; */
	box-shadow: 3px 3px 5px gray;
}
#new-user-container {
	box-shadow: 3px 3px 10px gray;
	border-radius: 30px;
	padding-bottom: 40px;
	padding-top: 1px;
	margin-left: 50px;
	padding-left: 3px;
	padding-right: 3px;
}
.most-comment-users {
	width: 350px;
	/* border: solid 1px pink; */
	height: 350px;
	overflow: auto;
	/* margin-top: 50px; */
	padding: 0 10px;
	padding-top: 15px;
	box-shadow: inset 1px 1px 5px grey;
}
#mc-users-title {
	margin-bottom: 20px;
	text-align: center;
	text-shadow: 2px 2px darkgrey;
}
.mc-user-item {
	display: block;
	height: 30px;
	line-height: 1.5em;
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 3px;
	transition: box-shadow 0.3s ease-out;
}
.mc-user-item:hover {
	/* background: #04bd8c; */
	box-shadow: 5px 5px 5px gray;
}
#mc-user-container {
	margin-top: 50px;
	box-shadow: 3px 3px 10px gray;
	border-radius: 30px;
	margin-left: 50px;
	padding-top: 30px;
	padding-left: 3px;
	padding-right: 3px;
}

.user-item-username {
	font-weight: bold;
	color: #007a5a;
	text-decoration: underline;
}
#trending-movie-title {
	display: block;
	margin-top: 40px;
	text-align: center;
	text-shadow: 2px 2px darkgrey;
}

.main-container .media-item {
	/* margin-right: 10px; */
}
.trending-title {
	padding: 20px;
	text-align: center;
	cursor: default;
	font-weight: 700;
	font-size: 24px;
	text-shadow: 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
		0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
		0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
		0 20px 20px rgba(0, 0, 0, 0.15);
}
