.list-container p {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	font-weight: bold;
	font-size: 20px;
	color: #007a5a;
}

.list-display {
	display: flex;
	flex-direction: row;
}

.list-item-detail {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	margin-top: 30px;
}
