.wrapper {
  color: #111;
  width: 1040px;
  margin-left: 60px;
  margin-right: 16px;
  padding-left: 16px;
}
.details {
  display: flex;
  margin-bottom: 15px;
}
.content h1 {
  font-size: 26px;
  display: block;
  font-weight: bold;
  color: #494949;
  margin: 0;
  padding: 0 0 15px 0;
  line-height: 1.1;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
}
.info span {
  padding-bottom: 10px;
}
.details img {
  width: 250px;
  height: 350px;
}
.tag-arr {
  padding-right: 5px;
}
.ratings {
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
  padding-left: 15px;
}
.ratings span {
  padding-bottom: 10px;
}
.plot {
  display: flex;
  flex-direction: column;
}
.plot h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.media-button {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  width: 300px;
}

.media-button button {
  margin-top: 25px;
  margin-right: 25px;
}

.list-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 60px;
}

.list-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(43, 41, 41, 0.75);
}

.list-add-button {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  position: relative;

  width: 250px;
  height: 50px;
  font-size: 15px;
  background: #f3f0f1;
  border-radius: 32px;
  text-align: center;
  transition: all 0.1s ease-in-out;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #007a5a;
}

.list-add-button:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}
.list-add-button:hover {
  opacity: 0.3;
  box-shadow: -6px -6px 10px rgba(233, 233, 233, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}

ul.list-tags {
  list-style: none;
  padding: 20px;
  max-height: 250px;
  overflow-y: scroll;
}
ul.list-tags li {
  display: inline;
}
ul.list-tags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  user-select: none;
  transition: all 0.2s;
}

ul.list-tags li label {
  padding: 8px 12px;
}

ul.list-tags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\002B";

  transition: transform 0.3s ease-in-out;
}

ul.list-tags li input[type="checkbox"]:checked + label::before {
  content: "\2713";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

ul.list-tags li input[type="checkbox"]:checked + label {
  border: 2px solid #007a5a;
  background-color: #007a5a;
  color: #fff;
  transition: all 0.2s;
}

ul.list-tags li input[type="checkbox"] {
  display: absolute;
}
ul.list-tags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.list-tags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}
