.navbar {
  display: flex;
  height: 10vh;
  flex-direction: row;
  background-color: #edf4ed;
  justify-content: space-between;
  align-items: center;
}

.navbar > a {
  font-size: 20px;
}

.navbar-logo {
  height: 100%;
}

.navbar-logo img {
  height: 100%;
}

.search-bar {
  position: relative;
  width: 400px;
  height: 40px;
  border: 1px solid lightgray;
  background-color: white;
  margin-left: 199px;
  line-height: 2.5rem;
  border-radius: 0 0.7rem 0.7rem 0;
}
.search-bar input,
.search-bar button {
  height: 5rem;
  border: 0;
  color: #2f2f2f;
  font-size: 1.3rem;
}
.search-bar input[type="search"] {
  outline: 0;
  width: 100%;
  background: #fff;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  appearance: none;
  transition: all 0.7s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.search-bar button {
  display: none;
  position: absolute;
  top: -2px;
  height: 43px;
  right: 0;
  width: 7rem;
  font-weight: bold;
  background: #007A5A;
  border-radius: 0 0.7rem 0.7rem 0;
}
.search-bar input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
  
}
.search-bar input:not(:placeholder-shown) + button {
  display: block;
}
.search-bar label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.input-container {
  display: flex;
  align-items: center;
  /* z-index: 1; */
  height: 35px;
}
.search-bar input {
  background-color: transparent;
  outline: none;
  width: 350px;
  height: 25px;
  border: none;
}

.splash-link {
  margin-right: 24px;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.splash-link-child {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#login:hover {
  color: #007a5a;
}

#signup {
  background-color: #007a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 50px;
  width: 150px;
}
#signup:hover {
  background-color: rgb(9, 138, 37);
  transition: background 0.5s;
  cursor: pointer;
}

.user-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-weight: bold;
}
.user-dropdown-header {
  display: inline-block;
  height: 30px;
  margin-top: 15px;
}
.user-dropdown-header:hover {
  cursor: pointer;
  color: #007a5a;
}
.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 15px lightgray;
  font-weight: 100;
  right: 0;
  top: 40px;
  width: 200px;
  height: 150px;
  z-index: 1;
}
.user-dropdown:hover .user-dropdown-content {
  display: block;
}
.all-list {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 12px;
  padding-bottom: 15px;
}

.all-list .list {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.all-list > div:first-child {
  margin-right: 25px;
}

.user-dropdown-content header {
  margin-left: 15px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}

.logout-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  border-top: 1px solid #e6e9ed;
}
.logout-icon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  margin-left: 10px;
}
.logout-button span {
  font-size: 13px;
  font-weight: bold;
}

.logout-button:hover {
  cursor: pointer;
  background-color: #f2f4f7;
}
