.navbar-wrapper {
  background-color: #edf4ed;
}

.profile-navbar {
  display: flex;
  height: 10vh;
  flex-direction: row;
  background-color: #edf4ed;
  justify-content: space-between;
  width: 98%;
  align-items: center;
}

.left {
  display: flex;
  height: 10vh;
  flex-direction: row;
  background-color: #edf4ed;
  align-items: center;
}

.left > a {
  margin-right: 20px;
  font-size: 20px;
}

.my-profile {
  margin-right: 20px;
  font-size: 20px;
}