.user-info>div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-info {
  height: 300px;
  padding: 10px;
  border: 1px solid #b3b3b3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),
    0 2px 2px rgba(0, 0, 0, 0.20),
    0 4px 4px rgba(0, 0, 0, 0.15),
    0 8px 8px rgba(0, 0, 0, 0.10),
    0 16px 16px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.user-info>h1 {
  margin-bottom: 10px;
}

.profile-show-wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 40px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}.user-info > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-info {
  height: 300px;
  padding: 10px;
  border: 1px solid #b3b3b3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),
              0 2px 2px rgba(0, 0, 0, 0.20),
              0 4px 4px rgba(0, 0, 0, 0.15),
              0 8px 8px rgba(0, 0, 0, 0.10),
              0 16px 16px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.user-info > h1 {
  margin-bottom: 10px;
}

.profile-show-wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 40px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}