.user-info > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-info {
  height: auto;
  padding: 10px;
  border: 1px solid #b3b3b3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  /* max-width: 300px;
  min-width: 160px; */
}

.username,
.user-info,
.email {
  word-wrap: break-word;
}

.user-info > h1 {
  margin-bottom: 10px;
}

.profile-show-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.user-pic {
  width: 150px;
  height: auto;
}

/* profile-pic {
  margin: 0 auto;
} */

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.user-info > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 26px;
}

.user-info {
  height: auto;
  padding: 10px;
  border: 1px solid #b3b3b3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.about-me {
  max-width: 300px;
}

.user-info > h1 {
  margin-bottom: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.profile-pic {
  align-items: center;
}
