.content{
  width: 700px;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}
.nav-pills{
  width: 750px;
  display: flex;
}
.nav-item{
  cursor: pointer;
}

.nav-pills .nav-link{
  margin-left: 50px;
  padding: 20px 20px 0 20px ;
  padding-bottom: 20px;
  font-weight: bold;
  text-align: center;
  background: #343436;
  color: #007a5a;
  border-radius: 25px 25px 0 0;
  height: 100px;
}
.nav-pills .nav-link.active{
  background:lightgray;
  color: #000;
}

.tab-content{
  position: absolute;
  width: 700px;
  height: auto;
  margin-top: 10px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 50px;
}