#rc-container {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
	position: relative;
	width: 1000px;
	border-radius: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.recent-comments {
	height: 300px;
	margin-top: 10px;
	background: #fff;
	color: #000;
	z-index: 1000;
	padding: 30px;
	margin-bottom: 10px;
	/* margin-left: 50px; */
	overflow: auto;
	box-shadow: inset 1px 1px 5px grey;
}
.recent-comment-header {
	margin-bottom: 20px;
	padding: 32px;
	display: block;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	text-shadow: 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
		0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
		0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
		0 20px 20px rgba(0, 0, 0, 0.15);
}
.recent-comments ul {
	display: flex;
	flex-direction: column;
}
.recet-item {
	margin-bottom: 20px;
	display: flex;
	transition: box-shadow 0.3s ease-in;
	padding: 15px 20px;
}
.recet-item:hover {
	box-shadow: 3px 3px 5px gray;
}
.recet-item img {
	height: auto;
	width: 150px;
	transition: transform 0.3s ease-out;
}
.recet-item img:hover {
	transform: scale(1.1, 1.1);
}
.recet-text-container {
	margin-left: 40px;
	line-height: 2em;
	width: 100%;
}
.recet-text {
}
p.r-t-date {
	color: gray;
	text-align: right;
	line-height: 1em;
}
h3.r-t-username {
	background-image: linear-gradient(#007a5a, #007a5a),
		linear-gradient(transparent, transparent);
	background-size: 0 1px, auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	transition: all 0.2s ease-out;
	text-align: center;
	display: inline-block;
	width: fit-content;
}

h3.r-t-username:hover {
	background-size: 100% 3px, auto;
}
