.signup-form-container{
  margin: 50px 30vw 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.signup-form-logo{
  width: 100%;
}


.signup-form{
  display:flex;
  flex-direction:column;
  width: 40vw;
  min-width: 200px;
  padding-top: 20px;
}

.signup-form-title{
  width: 20vw;
}

.signup-form input, .signup-form textarea, .sinup-form-demo{
  margin: 1vh;
  height: 5vh;
  border-radius: 4px;
  border: 1px solid black;
}

.signup-form input[type=submit], .sinup-form-demo{
  background-color: #007a5a;
  border: none;
  outline: none;
  color:white;
  font-weight: 800;
  
}













/* login below */
.login-form-container{
  margin: 50px 30vw 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form-logo{
  width: 100%;
}

.login-form-signup{
  size: 20px;
  margin: 20px;
}

.login-form{
  display:flex;
  flex-direction:column;
  width: 40vw;
  min-width: 200px;
  padding-top: 20px;
}

.login-form input{
  margin: 1vh;
  height: 5vh;
  border-radius: 4px;
  border: 1px solid black;
}

.login-form input[type=submit]{
  background-color: #007a5a;
  border: none;
  outline: none;
  color:white;
  font-weight: 800;
}