.signup-form-container{
  margin: 50px 30vw 50px;
}


.signup-form{
  display:flex;
  flex-direction:column;
  width: 40vw;
  min-width: 200px;
}

/* .signup-form label input{
  width: 100%;
} */














/* login below */
.login-form-container{
  margin: 50px 30vw 50px;
}

.login-form{
  display:flex;
  flex-direction:column;
  width: 40vw;
  min-width: 200px;
}