.splash-header {
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.splash-header-left {
	display: flex;
	align-items: center;
}

.splash-header-left img {
	margin-left: 15px;
	width: 200px;
}
.splash-header-left input {
	width: 200px;
	height: 20px;
}

.splash-features {
	height: 45vh;
	background-color: #edf4ed;
}

.splash-trendings {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90%;
}

.splash-trending-movies {
	width: 40vw;
}

.splash-trending-tvshows {
	width: 40vw;
}

.popular-ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #007a5a;
	color: #edf4ed;
	font-family: "IBM Plex Serif", serif;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 40%;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
.tooltip:hover img {
	opacity: 0.7;
}
