.splash-header {
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.splash-header-left {
	display: flex;
	align-items: center;
}

.splash-header-left img {
	margin-left: 15px;
	width: 200px;
}
.splash-header-left input {
	width: 200px;
	height: 20px;
}

.splash-features-title h4{
	font-size: 45px;
	font-weight: bold;
	margin: 20px 20px 20px;
}

.splash-features-title li{
	list-style: none;
	margin: 20px;
}

.splash-features-about{
	font-size: 45px;
	font-weight: bold;
	margin: 20px;
	text-align: center;
}


.splash-features {
	height: 45vh;
	background-color: #edf4ed;
}

.splash-trendings {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90%;
}

.splash-trending-movies {
	width: 40vw;
}

.splash-trending-tvshows {
	width: 40vw;
}

.popular-ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltiptext {
	visibility: hidden;
	width: 90px;
	text-align: center;
	background-color: transparent;
	color: #edf4ed;
	font-family: "IBM Plex Serif", serif;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 40%;
	left: 50%;
	margin-left: -45px;
}

.tooltip div {
	background-color: #0e1821;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
.tooltip:hover img {
	opacity: 0.3;
}

.remove-from-list-btn {
	border: 0;
	background-color: transparent;
	margin-top: 10px;
	color: #edf4ed;
	text-decoration: underline;
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 16px;
}
