.splash-header {
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.splash-header-left {
	display: flex;
	align-items: center;
}
.splash-header-left img {
	width: 200px;
}
.splash-header-left input {
	width: 200px;
	height: 20px;
}

.splash-features {
	height: 45vh;
	background-color: #edf4ed;
}

.splash-features li {
	list-style: none;
}

.splash-trending-movies {
	height: 45vh;
}
.splash-trending-movies div ul {
	display: flex;
	flex-direction: row;
}

.splash-trending-tvshows {
	height: 45vh;
	background-color: #f7f7f7;
}

.splash-trending-tvshows div ul {
	display: flex;
	flex-direction: row;
}
