
/config/keys_dev.js
/node_modules
# ignore frontend files
/frontend/node_modules;
frontend/src/util/keys/keys_dev.js
/frontend/.env
frontend/src/util/keys/keys_dev.js
config/keys_dev.js
frontend/.eslintcache
frontend/.env
